page-support {
	.add-contact{
		position:relative;
		right: 2px;
		display: inline-block;
	}

	#contact-add{
		//background-color: #1b5e20;
		background-color:#2caae2;
	}
	.info{
		color: #fff;
	}

}
