<ion-header >
  <ion-navbar>
    <button ion-button menuToggle>
      <div class="nav-bar"><ion-icon name="menu"></ion-icon></div>
    </button>
    <ion-title><div class="nav-bar">Today: {{ today }}</div></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
 

  <ion-item-sliding *ngFor="let med of meds" >
      <ion-item [ngStyle]="{'background-color': med.color}">
        <ion-avatar item-left>
          <img [src]="med.shape">
        </ion-avatar>
        <h2>{{med.name}}</h2>
        <p>qty: {{ med.qty }} time: {{ med.time }}</p>
      </ion-item>
      <ion-item-options>
      <button ion-button color="secondary" icon-left (click)="taken(med)">
          <ion-icon name="checkmark"></ion-icon>
          Take
        </button>
        <button ion-button color="light" icon-left (click)="snooze(med)">
            <ion-icon name="time"></ion-icon>
          Snooze
        </button> 
      </ion-item-options>
    </ion-item-sliding>

</ion-list>

<div padding *ngIf="noMeds">
  Hi there! Looks like your medicine cabinet is empty! <br><br>
  <div id="med-import-manual">
    <button ion-button color="secondary" (click)="addMed()">Add your medicine manually</button>
  </div>
  <div id="med-import-option">
    or
  </div>
  <div id="med-import-epic">
    <button ion-button  color="secondary" (click)="opneEpic()">Import Medicine from Epic</button>
  </div>
</div>

</ion-content>
