page-page1 {
	#med-import-manual{
		width:243px;
		margin-top:20px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	#med-import-option{
		width:10%;
		margin: auto;
	}
	#med-import-epic{
		width:223px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	.button-md-secondary{
		background-color: #2caae2;
	}
}
